<section class="articles">
  <div class="container">
    <div class="articles__wrap">
      <article class="articles__item">
        <div class="articles__body">
          <h3>Сравнительное ежегодное исследование удобства и доступности мобильных интернет-банков 2023 для физических лиц</h3>
          <p>Изучение удобства и доступности Android-приложений и мобильных веб-версий интернет-банков на iOS. В рейтинг вошли 20 российских банков. В 2023 году рассмотрели пользовательские сценарии дейли банкинга, а также новый сценарий: запрос средств через СБП.</p>
        </div>
        <a href="#" class="articles__btn-link">Подробнее</a>
      </article>
      <article class="articles__item">
        <div class="articles__body">
          <h3>Отчет по изменениям банковских приложений</h3>
          <p>Ежемесячный отчет включает в себя обзор функциональных обновлений в мобильных приложениях крупнейших российских банков для физлиц и пресс-релизы, новости о сервисах для физлиц и юрлиц.</p>
        </div>
        <a href="#" class="articles__btn-link">Подробнее</a>
      </article>
    </div>
  </div>
</section>