<section class="extra">
  <div class="container">
    <div class="extra__title">Дополнительные услуги</div>
    <div class="extra__grid">
      <article class="extra__item">
        <img src="./img/addit1.png" alt="" class="extra__img">
        <div class="extra__body">
          <div class="extra__text">
            <h3>Индивидуальные исследования в области пользовательских интерфейсов и проектировании</h3>
            <p>Изучение удобства и доступности Android-приложений и мобильных веб-версий интернет-банков на iOS. В рейтинг вошли 20 российских банков. </p>
          </div>
          <a href="#" class="btn-link">Подробнее</a>
        </div>
      </article>
      <article class="extra__item">
        <img src="./img/addit2.png" alt="" class="extra__img">
        <div class="extra__body">
          <div class="extra__text">
            <h3>UX имплант-офис</h3>
            <p>Отчет включает в себя обзор функциональных обновлений в мобильных приложениях крупнейших российских банков для физлиц и пресс-релизы, новости о сервисах для физлиц и юрлиц.</p>
          </div>
          <a href="#" class="btn-link">Подробнее</a>
        </div>
      </article>
      <article class="extra__item">
        <img src="./img/addit3.png" alt="" class="extra__img">
        <div class="extra__body">
          <div class="extra__text">
            <h3>Международные исследования</h3>
            <p>Удобство и функциональность подключения и использования подписок 8 российских банков.</p>
          </div>
          <a href="#" class="btn-link">Подробнее</a>
        </div>
      </article>
    </div>
  </div>
</section>