<footer class="footer">
  <ul class="footer__socials list-reset">
    <li class="footer__socials-item">
      <a href="https://t.me/usabilitylab" class="socials__link" target="_blank" aria-label="Напишите нам в Телеграм">
        <span class="socials__icon socials__icon--telegram"></span>
      </a>
    </li>
    <li class="footer__socials-item">
      <a href="https://www.youtube.com/user/usabilitylab" class="socials__link" target="_blank" aria-label="Смотрите нас на Youtube">
        <span class="socials__icon socials__icon--youtube"></span>
      </a>
    </li>
  </ul>
  <a class="footer__phone-link" href="tel:88005115248">8 (800) 511-52-48</a>
  <div class="footer__copyright">© 2006-2024 ООО «ЮЗАБИЛИТИЛАБ»</div>
</footer>
