<nav class="menu">
  <div class="close"></div>
  <div class="container">
    <div class="mobile-menu">
      <ul id="menu__list" class="menu__list"><li id="menu-item-1634" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-1634"><a href="https://usabilitylab.ru/services/research/">Юзабилити-исследование</a></li>
<li id="menu-item-1635" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-1635"><a href="https://usabilitylab.ru/services/design/">Проектирование интерфейсов</a></li>
<li id="menu-item-1636" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1636"><a href="https://banking.usabilitylab.ru/">БАНКОВСКИЙ UX</a></li>
<li id="menu-item-1637" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1637"><a href="https://school.usabilitylab.ru/">ШКОЛА USABILITYLAB</a></li>
<li id="menu-item-1638" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-1638"><a href="https://usabilitylab.ru/services/podbor-speczialistov/">Подбор сотрудников</a></li>
<li id="menu-item-1639" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1639"><a href="https://usabilitylab.ru/archives/">Блог</a></li>
<li id="menu-item-1640" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1640"><a href="https://usabilitylab.ru/about/">О компании</a></li>
<li id="menu-item-1641" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1641"><a href="https://usabilitylab.ru/contacts/">Контакты</a></li>
</ul>					<div class="header__search header__search--mobile">
        <form role="search" method="get" id="searchform" class="searchform" action="https://usabilitylab.ru/">
<div>
<label class="screen-reader-text" for="s"></label>
<input type="text" value="" name="s" id="s" placeholder="Поиск">
<button id="searchsubmit">			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
  </svg>
</button>
</div>
</form>					</div>
    </div>
    <div class="desctop-menu">
      <ul id="menu__list" class="menu__list"><li id="menu-item-149" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-149"><a href="https://usabilitylab.ru/services/research/">Юзабилити-исследование</a></li>
<li id="menu-item-141" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-141"><a href="https://usabilitylab.ru/services/design/">Проектирование интерфейсов</a></li>
<li id="menu-item-144" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-144"><a href="https://banking.usabilitylab.ru/">Банковский UX</a></li>
<li id="menu-item-145" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145"><a href="https://school.usabilitylab.ru/">Школа USABILITYLAB</a></li>
<li id="menu-item-148" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-148"><a href="https://usabilitylab.ru/services/podbor-speczialistov/">Подбор UX-специалистов</a></li>
</ul>				</div>
  </div>
</nav>
<header class="header">
  <div class="container">
    <a href="/" class="logo current" aria-label="Логотип UsabilityLab">
      <img src="./img/logo.png" alt="USABILITYLAB">
    </a>
    <div class="socials">
      <a href="https://t.me/usabilitylab" class="socials__link" target="_blank" aria-label="Напишите нам в Телеграм">
        <span class="socials__icon socials__icon--telegram"></span>
      </a>
      <a href="https://vk.com/usabilitylab_ru" class="socials__link" target="_blank">
      <span class="socials__icon socials__icon--vk"></span>
      </a> 
      
      <a href="https://www.youtube.com/user/usabilitylab" class="socials__link" target="_blank" aria-label="Посмотрите нас на Ютубе">
        <span class="socials__icon socials__icon--youtube"></span>
      </a>
    </div>
    <div class="header__search">
      <form role="search" method="get" id="searchform" class="searchform" action="https://usabilitylab.ru/">
<div>
<label class="screen-reader-text" for="s"></label>
<input type="text" value="" name="s" id="s" placeholder="Поиск">
<button id="searchsubmit">			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
  </svg>
</button>
</div>
</form>				</div>
    <div class="header__right">
      <a href="tel:88005115248" class="phone">
        <span class="phone__icon"></span>
        <span class="phone__text">8 800 511-52-48</span>
      </a>
                  <a data-fancybox="" data-src="#modal" href="javascript:;" class="btn">Оставить заявку</a>
        <!-- <a  href="https://clients.usabilitylab.ru/header_website/" target="_blank" class="btn">Оставить заявку</a> -->
      

              </div>
    <div class="menu-btn"><span></span><span></span><span></span></div>
  </div>
</header>