<div class="hero">
  <div class="container">
    <div class="hero__inner">
      <h1 class="hero__title">Банковский UX</h1>
      <p class="hero__description">
        В рамках проекта «Банковский UX» вы можете приобрести отчеты по плановым, ежегодным и ежемесячным исследованиям. А также, мы проводим бесплатные онлайн-встречи и публикуем тематические статьи для сотрудников банков и других специалистов в сфере UX/CX.</p>
      <div class="hero__footer">
        <a href="javascript:void(0)" class="btn btn--green">Задать вопрос</a>
      </div>
    </div>
  </div>
</div>