<section class="news">
  <div class="container">
    <div class="news__inner">
      <div class="news__title">Плановые исследования на 2024 год</div>
      <p class="news__desc">Удобство и функциональность подключения и использования подписок 8 российских банков.</p>
      <ul class="news__list list-reset">
        <li class="news__list-item">
          <div class="news__img-wrap"><img src="./img/news1.png" alt=""></div>
          <div class="news__item-body">
            <h3 class="news__item-name">Платные подписки банков для физлиц</h3>
            <p class="news__excerpt">Удобство и функциональность подключения и использования подписок 8 российских банков</p>
            <a href="#" class="news__item-link">Подробнее</a>
          </div>
        </li>
        <li class="news__list-item">
          <div class="news__img-wrap"><img src="./img/news2.png" alt=""></div>
          <div class="news__item-body">
            <h3 class="news__item-name">Инвестиции в приложениях банков</h3>
            <p class="news__excerpt">Удобство и функциональность инвестиционных операций в приложениях банков</p>
            <a href="#" class="news__item-link">Подробнее</a>
          </div>
        </li>
        <li class="news__list-item">
          <div class="news__img-wrap"><img src="./img/news3.png" alt=""></div>
          <div class="news__item-body">
            <h3 class="news__item-name">Push-уведомления в банковских приложениях </h3>
            <p class="news__excerpt">Способы представления информации в push-уведомлениях и удобство взаимодействия с ними</p>
            <a href="#" class="news__item-link news__item-link--soon">Скоро появится</a>
          </div>
        </li>
        <li class="news__list-item">
          <div class="news__img-wrap"><img src="./img/news4.png" alt=""></div>
          <div class="news__item-body">
            <h3 class="news__item-name">Анализ финансов в приложениях и интернет-банках</h3>
            <p class="news__excerpt">Способы представления аналитики расходов, удобство отображения и взаимодействия с ней</p>
            <a href="#" class="news__item-link news__item-link--soon">Скоро появится</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>