<section class="subscription">
  <div class="container">
    <div class="subscription__inner">
      <h2 class="subscription__title">Подписка Банковский UX</h2>
      <div class="subscription__text">
        <p>Подписывайтесь в телеграмм-боте на бесплатную рассылку «Банковского UX» — анонсы новых исследований и бесплатных онлайн-встреч, кейсы и статьи, и многое другое.</p>
      </div>
      <div class="subscription__footer">
        <a href="javscript:void(0)" class="btn subscription__btn">Подписаться на рассылку</a>
      </div>
    </div>
  </div>
</section>